@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
:root {
  --radius: 0.625rem;
  --background: oklch(0.3454 0.0569 251.49);
  --foreground: oklch(0.9434 0.0211 196.8);
  --card: oklch(0.3454 0.0569 251.49);
  --card-foreground: oklch(0.9434 0.0211 196.8);
  --popover: oklch(0.3454 0.0569 251.49);
  --popover-foreground: oklch(0.9434 0.0211 196.8);
  --primary: oklch(0.3454 0.0569 251.49);
  --primary-foreground: oklch(0.9434 0.0211 196.8);
  --accent: oklch(0.8012 0.093 121.85);
  --accent-foreground: oklch(0.9434 0.0211 196.8);
  --secondary: oklch(0.6824 0.074 229.69);
  --secondary-foreground: oklch(0.2 0.02 262.5);
  --muted: oklch(0.6824 0.074 229.69);
  --muted-foreground: oklch(0.9434 0.0211 196.8);
  --border: oklch(0.6824 0.074 229.69);
  --input: oklch(0.6824 0.074 229.69);
  --ring: oklch(0.8012 0.093 121.85);
  --chart-1: oklch(0.8012 0.093 121.85);
  --chart-2: oklch(0.3454 0.0569 251.49);
  --chart-3: oklch(0.6824 0.074 229.69);
  --chart-4: oklch(0.9434 0.0211 196.8);
  --chart-5: oklch(0.7 0.04 250);
  --sidebar: oklch(0.3454 0.0569 251.49);
  --sidebar-foreground: oklch(0.9434 0.0211 196.8);
  --sidebar-primary: oklch(0.8012 0.093 121.85);
  --sidebar-primary-foreground: oklch(0.9434 0.0211 196.8);
  --sidebar-accent: oklch(0.6824 0.074 229.69);
  --sidebar-accent-foreground: oklch(0.9434 0.0211 196.8);
  --sidebar-border: oklch(0.6824 0.074 229.69);
  --sidebar-ring: oklch(0.8012 0.093 121.85);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-inter;
  }
  h1 {
    @apply text-[clamp(2rem,5vw,3rem)] font-bold;
  }
  h2 {
    @apply text-[clamp(1.75rem,4.5vw,2.5rem)] font-bold;
  }
  h3 {
    @apply text-[clamp(1.5rem,4vw,2rem)] font-semibold;
  }
  h4 {
    @apply text-[clamp(1.25rem,3.5vw,1.75rem)] font-semibold;
  }
  h5 {
    @apply text-[clamp(1rem,3vw,1.5rem)] font-semibold;
  }
  h6 {
    @apply text-[clamp(0.875rem,2.5vw,1.25rem)] font-semibold;
  }
}

@layer utilities {
  .container {
    width: 100%;
    margin: auto;
    padding-inline: 1rem;
    @media (width >= 40rem /* 640px */) {
      max-width: 40rem /* 640px */;
      padding-inline: 1.5rem;
    }
    @media (width >= 48rem /* 768px */) {
      max-width: 48rem /* 768px */;
    }
    @media (width >= 64rem /* 1024px */) {
      max-width: 64rem /* 1024px */;
    }
    @media (width >= 80rem /* 1280px */) {
      max-width: 80rem /* 1280px */;
    }
  }
}
